@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-image{
  background-image: url('../public/assets/bg.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}